@{
    ViewData["Title"] = "Agendamento Concluído";
}

<h1 class="margin">Agendamento concluído com sucesso!</h1>
<p class="resultado margin">Nome : @ViewBag.Nome</p>
<p class="resultado margin">Telefone : @ViewBag.Telefone</p>
<p class="resultado margin">Data : @ViewBag.Data</p>
<p class="resultado margin">Animal : @ViewBag.Animal</p>
<p class="resultado margin">Necessidade : @ViewBag.Necessidade</p>
<p><a asp-action="Index" class="margin">Voltar para o início.</a></p>